@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #303030;
  font-family: "Roboto", sans-serif;
}

a {
  color: #7daaf1;
  text-decoration: none;
  font-weight: bold;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #535353;
}

::-webkit-scrollbar-thumb {
  background: #303030;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #535353;
}

.menu-bar-logo {
  width: 60px;
  height: 60px;
  transform: scale(1);
  transition: all 500ms;
}
.menu-bar-logo:hover {
  transition: all 500ms;
  transform: scale(1.1);
}

.menu-bar-button {
  color: #d9d9d9;
  background-color: #303030;
  border: 0;
  width: 70%;
  margin: 0 auto;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.menu-bar-button i {
  font-size: 1.7em;
}
.menu-bar-button:hover {
  opacity: 0.8;
  transition: all 300ms;
}
.menu-bar-button:hover i {
  color: #7daaf1;
}
.menu-bar-button:hover span {
  color: #7daaf1;
}
.menu-bar-button svg {
  font-size: 2em;
}
.menu-bar-button span {
  font-size: 1.3em;
}

.menu-bar-social {
  font-size: 2.5em;
  color: #d9d9d9;
  transform: scale(1);
  transition: all 500ms;
  margin-top: 10px;
}

.menu-bar-title p {
  margin: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.menu-bar-title p:first-child {
  font-size: 1.3em;
}
.menu-bar-title p:last-child {
  font-size: 0.85em;
}
@media screen and (max-width: 1200px) {
  .menu-bar-title {
    justify-content: center;
    align-items: center;
  }
  .menu-bar-title p:first-child {
    font-size: 1.3em;
  }
  .menu-bar-title p:last-child {
    font-size: 0.85em;
  }
}

.page-title {
  color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 116px;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  border-bottom: 1px solid #535353;
}
.page-title div {
  display: flex;
  align-items: center;
}
.page-title h1 {
  font-size: 2em;
}
.page-title__goback {
  background-color: transparent;
  margin-right: 30px;
  border: 0px;
  cursor: pointer;
  color: #7daaf1;
  font-size: 2.2em;
}
.page-title__goback:hover svg {
  color: #d9d9d9;
}
.page-title__goback svg {
  font-size: 3em;
}
.page-title__database {
  font-size: 1.5em;
}
.page-title__angle {
  font-size: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
}
.page-title__table {
  font-size: 1.3em;
}
.page-title--search {
  padding-right: 20px;
}
@media screen and (max-width: 1200px) {
  .page-title h1 {
    font-size: 1.5em;
  }
  .page-title__table {
    font-size: 1.2em;
  }
}

.table-fields {
  border: 1px solid #383838;
  background-color: #303030;
  color: #d9d9d9;
  margin-bottom: 20px;
}
.table-fields th {
  padding: 5px 10px 5px 10px;
  text-align: left;
  background-color: #303030;
}
.table-fields td {
  padding: 5px 10px 5px 10px;
}
.table-fields tr:nth-child(odd) {
  background-color: #535353;
}
.table-fields tr:nth-child(even) {
  background-color: #404040;
}

.table-rows {
  border: 1px solid #383838;
  background-color: #303030;
  color: #d9d9d9;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table-rows th {
  padding: 5px 10px 5px 10px;
  text-align: left;
  background-color: #303030;
}
.table-rows td {
  padding: 5px 20px 5px 20px;
  text-align: left;
}
.table-rows tr:nth-child(odd) {
  background-color: #535353;
}
.table-rows tr:nth-child(even) {
  background-color: #404040;
}

.model-display {
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  min-height: 150px;
  margin-top: 50px;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .model-display {
    margin-top: 20px;
  }
}

.element-information {
  flex-basis: 33%;
}
.element-information__title {
  color: #d9d9d9;
  font-size: 18px;
  margin-bottom: 5px;
}
.element-information__bar {
  background-color: #7daaf1;
  width: 45px;
  height: 3px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  margin-bottom: 5px;
}
.element-information__content {
  overflow-y: scroll;
  max-height: 150px;
  padding-top: 0px;
  margin-top: 0px;
}
.element-information__content ul {
  padding-left: 20px;
  margin-top: 5px;
}
.element-information__content ul li {
  color: #d9d9d9;
  line-height: 25px;
  list-style: none;
}
.element-information--independant {
  border-radius: 20px 0px 20px 0px;
  background-color: #535353;
  padding: 20px;
  padding-top: 0;
  flex-basis: 28%;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.element-information--independant div:last-child {
  max-height: 260px;
}
.element-information--independant ul {
  padding-left: 10px;
}
.element-information--independant ul li {
  margin: 0;
  color: #d9d9d9;
  line-height: 25px;
  list-style: none;
}
@media screen and (max-width: 1600px) {
  .element-information--independant {
    margin-right: 1%;
    margin-left: 1%;
    flex-basis: 43%;
  }
}
@media screen and (max-width: 1250px) {
  .element-information--independant {
    margin-right: 20px;
    margin-left: 20px;
    flex-basis: 90%;
    border-radius: 20px;
  }
}

.tiny-title {
  justify-content: center;
}
.tiny-title__heading {
  color: #d9d9d9;
  font-size: 18px;
  margin-bottom: 5px;
}
.tiny-title__bar {
  background-color: #7daaf1;
  width: 45px;
  height: 3px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.medium-title {
  position: relative;
}
.medium-title__heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.3em;
}
.medium-title__bar {
  background-color: #7daaf1;
  bottom: 10px;
  width: 70px;
  height: 3px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.big-title {
  position: relative;
}
.big-title__bar {
  position: absolute;
  background-color: #7daaf1;
  bottom: 10px;
  width: 150px;
  height: 3px;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.sql-statement {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
  background-color: #242424;
  color: #d9d9d9;
  display: none;
  font-family: monospace;
}

.card {
  flex-basis: 30%;
  height: 396px;
  background-color: #383838;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #535353;
  color: #d9d9d9;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
.card__content {
  overflow-y: scroll;
}
.card h3 {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.card ul {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.card ul li {
  line-height: 25px;
}
.card--about {
  padding-bottom: 20px;
  text-align: justify;
}
.card--about p {
  padding: 0px 10px;
  margin-top: 0px;
}
.card--about__top {
  margin-top: 20px;
}
.card--about__top img {
  float: left;
  width: 50px;
}
@media screen and (max-width: 1600px) {
  .card {
    flex-basis: 43%;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    flex-basis: 90%;
  }
}

.search-bar {
  display: flex;
  flex-direction: column;
}
.search-bar__main {
  display: flex;
  margin-bottom: 10px;
  margin-right: 5px;
}
.search-bar__main input {
  width: 420px;
}
.search-bar__filters {
  margin-left: 5px;
}
.search-bar__filters input {
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .search-bar__main input {
    width: 200px;
  }
  .search-bar__filters input {
    display: none;
    background-color: yellow;
  }
}

.custom-selector {
  background-color: #383838;
  color: #d9d9d9;
  border: 1px solid #535353;
  font-size: 1.3em;
  padding: 5px;
  margin-left: 5px;
  max-width: 165px;
}

.custom-input {
  background-color: #383838;
  color: #d9d9d9;
  border: 1px solid #535353;
  font-size: 1.3em;
  padding: 5px;
  margin-right: 10px;
  padding-left: 10px;
}
.custom-input:focus {
  outline: 1px solid #7daaf1;
}

.search-button {
  width: 80px;
  color: #d9d9d9;
  background-color: #383838;
  border: 1px solid #535353;
  border-radius: 0px 20px 0px 0px;
  cursor: pointer;
  font-size: 1.5em;
}
.search-button i {
  color: #d9d9d9;
}
.search-button:hover {
  opacity: 0.8;
  transition: all 300ms;
}
.search-button:hover i {
  color: #7daaf1;
}
.search-button:hover span {
  color: #7daaf1;
}
@media screen and (max-width: 1200px) {
  .search-button {
    width: 50px;
  }
  .search-button svg {
    font-size: 1.2em;
  }
}

.page-counter {
  margin-top: 30px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-counter svg {
  font-size: 1.5em;
}
.page-counter__left {
  margin-right: 10px;
}
.page-counter span {
  color: #d9d9d9;
}
.page-counter__right {
  margin-left: 10px;
}
.page-counter__results-count {
  background-color: #383838;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #535353;
}

.item-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid black;
}
.item-display img {
  border-radius: 20px;
}

.main-container {
  background-color: #404040;
  width: 98%;
  margin: 0 auto;
  display: flex;
  border-radius: 30px;
  border: 1px solid #535353;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 97vh;
  min-height: 800px;
  max-width: 1960px;
}

.menu-bar-main-container {
  width: 300px;
  box-sizing: border-box;
  background-color: #383838;
  color: #d9d9d9;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid #535353;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .menu-bar-main-container {
    width: 230px;
  }
}

.menu-bar-header-container {
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  padding: 5px;
  padding-right: 10px;
  text-align: right;
  border-radius: 20px 0px 0px 0px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.menu-bar-nav-container {
  margin-top: 20px;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
  height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.menu-bar-nav-container a:last-child {
  margin-bottom: 20px;
}

.menu-bar-social-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}
.menu-bar-social-container a :hover {
  transition: all 300ms;
  color: #7daaf1;
  transition: all 500ms;
  transform: scale(1.1);
}

.main-page-container {
  width: 100%;
}

.page-content {
  max-height: 85vh;
  overflow-y: scroll;
  height: 100%;
}
@media screen and (max-height: 950px) {
  .page-content {
    max-height: 680px;
  }
}
@media screen and (max-height: 600px) {
  .page-content {
    max-height: 680px;
  }
}

.table-container {
  max-width: 600px;
  margin: 0 auto;
}
.table-container--full {
  max-width: unset;
  margin-left: 20px;
  margin-right: 20px;
}

.details-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border: 1px solid #535353;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
@media screen and (max-width: 1250px) {
  .details-container {
    width: 90%;
    margin-top: 10px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 50px;
}

.search-container form {
  display: flex;
}

.object-container__informations {
  display: flex;
  padding: 20px;
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.object-container__informations__details1 {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  border: 1px solid #383838;
  padding: 0px 20px 0px 20px;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}
.object-container__informations__details1 div:first-child {
  position: absolute;
  top: 0;
  left: 20px;
}
.object-container__informations__details1 div:first-child div {
  position: absolute;
  left: 0px;
  top: 40px;
}
.object-container__informations__details2 {
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0px 20px 0px 20px;
  background-color: #535353;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
}
.object-container__informations__details2 .simulate_box {
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .object-container__informations__details2 .simulate_box {
    margin-top: 20px;
  }
}
.object-container__informations aside {
  position: relative;
}
.object-container__informations aside img {
  border-radius: 20px 0px 0px 20px;
}
@media screen and (max-width: 1600px) {
  .object-container__informations__details1 {
    flex-basis: 13%;
  }
  .object-container__items {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .object-container__informations {
    max-height: none;
    flex-wrap: wrap;
    padding: 10px;
  }
  .object-container__informations__details1 {
    flex-basis: 8%;
  }
  .object-container__informations__details2 {
    margin-right: 1%;
    margin-left: 1%;
  }
  .object-container aside img {
    border-radius: 0px 20px 0px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .object-container__informations {
    padding: 10px;
    justify-content: center;
  }
  .object-container__informations__details1 {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-basis: 93%;
    margin-bottom: 10px;
    border-radius: 0px 20px 0px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .object-container__informations__details2 {
    flex-basis: 90%;
    border-radius: 0px 20px 0px 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
