.details-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  border: 1px solid $color4;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  @include big-shadow;

  @include laptop-design {
    // margin-left: 20px;
    // margin-right: 20px;
  }

  @include tiny-laptop-design {
    margin-top: 10px;
  }

  @include tablet-design {
    margin-bottom: 30px;
  }
  @include mobile-design {
    padding: 10px;
  }
}
