.map-container {
  position: relative;
  min-width: 100%;
  min-height: 650px;
  overflow: hidden;

  &__arrow {
    position: absolute;
    z-index: 50;
    font-size: 2.5em;
    color: $color7;
    font-weight: bold;
    padding: 0px 5px;
    border: 1px solid $color4;
    background-color: $color3;
    @include big-shadow;
    animation: appearslowly 500ms ease-in-out;

    &--left {
      top: 50%;
      left: 10px;
    }

    &--right {
      top: 50%;
      right: 10px;
    }
  }
}
