.menu-bar-nav-container {
  margin-top: 20px;
  border-bottom: 1px solid $color4;
  border-top: 1px solid $color4;

  height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 300ms;

  & a:last-child {
    margin-bottom: 20px;
  }

  @include tablet-design {
    width: 230px;
  }

  @include mobile-design {
    width: 70px;
    border: 0px solid $color4;
    border-radius: 0px;
    margin-top: 10px;
    height: 92vh;

    border-top: unset;
    & span {
      width: 0px;
      font-size: 0px;
    }

    & i {
      transition: all 300ms;
    }

    &:hover {
      transition-property: width;
      transition-duration: 1s;
      transition-delay: 1s;
      width: 150px;
      // margin-left: 20px;

      & span {
        opacity: 1;
        font-size: 0.9em;
        width: 100%;
        position: absolute;
        transition-property: all;
        transition-duration: 1s;
        transition-delay: 1s;
        position: relative;
        animation-fill-mode: forwards;
        margin-left: 10px;
      }

      & i {
        margin-left: 10px;

        font-size: 1em;
        margin-left: 10px;
        transition-property: all;
        transition-duration: 1s;
        transition-delay: 1s;
      }

      & a {
        transition-property: width;
        transition-duration: 1s;
        transition-delay: 1s;
        width: 90%;
      }
    }
  }

  @media screen and (max-width: 370px) {
    width: 50px;

    &:hover {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}
