.menu-bar-nav-container {
  margin-top: 20px;
  border-bottom: 1px solid $color4;
  border-top: 1px solid $color4;

  height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;

  & a:last-child {
    margin-bottom: 20px;
  }

  @include mobile-design {
    margin-top: 10px;
    height: 92vh;
    border-top: unset;
  }
}
