.object-container {
  // padding: 30px;

  &__informations {
    display: flex;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    &__details1 {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $color4;
      border: 1px solid $color3;
      padding: 0px 20px 0px 20px;
      border-radius: 0px 20px 20px 0px;
      min-height: 450px;
      position: relative;
      border: 1px solid $color1;

      @include big-shadow;

      & div:first-child {
        position: absolute;
        top: 0;
        left: 20px;

        & div {
          position: absolute;
          left: 0px;
          top: 40px;
        }
      }
    }

    &__details2 {
      margin-left: 2%;
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0px 20px 0px 20px;
      background-color: $color4;
      display: flex;
      border: 1px solid $color1;
      // justify-content: space-between;
      // align-items: center;
      flex-direction: column;
      border-radius: 20px;
      @include big-shadow;
    }

    &__items {
    }
  }

  @include laptop-design {
    &__informations {
      &__details1 {
        flex-basis: 13%;
      }

      &__details2 {
        // flex-basis: 27%;
      }
    }
    &__items {
      // padding-left: 20px;
      // padding-right: 20px;
    }
  }

  @include tiny-laptop-design {
    &__informations {
      max-height: none;
      flex-wrap: wrap;
      // padding: 10px;

      &__details1 {
        flex-basis: 8%;
      }

      &__details2 {
        // margin-right: 1%;
        // margin-left: 1%;
      }
    }
  }

  @include tablet-design {
    &__informations {
      padding: 0px;
      justify-content: center;

      &__details1 {
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 100%;
        margin-bottom: 10px;
        border-radius: 0px 20px 0px 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &__details2 {
        margin: unset;
        flex-basis: 100%;
        border-radius: 0px 20px 0px 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 15px;
      }
    }
  }

  @include mobile-design {
    &__informations {
      &__details1 {
        flex-direction: column;
        min-width: unset;
      }
    }
  }
}
