.page-content {
  max-height: 87.5vh;
  overflow-y: scroll;
  height: 100%;

  @include laptop-design {
    padding: 20px;
    max-height: 80vh;
  }

  @include medium-height {
    max-height: 84vh;
  }

  @include small-height {
    max-height: 77vh;
  }

  @include tablet-design {
    padding: 10px;
    max-height: 82.5vh;
  }

  @include mobile-design {
    padding: 10px;
    max-height: 90vh;
  }
}
