.page-content {
  max-height: 84.5vh;
  overflow-y: scroll;
  height: 100%;

  @include laptop-design {
    padding: 20px;
    max-height: 80vh;
  }

  // @include medium-height {
  //   max-height: 680px;
  // }

  @include tablet-design {
    padding: 10px;
    max-height: 82.5vh;
  }

  // @include small-height {
  //   max-height: 680px;
  // }

  @include mobile-design {
    padding: 10px;
    max-height: 90vh;
  }
}
