.toaster-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.067);
  backdrop-filter: blur(5px);
  z-index: 1000;
  overflow: hidden;
  animation: blur 6s normal;
  animation-fill-mode: forwards;
}
