@keyframes slideinout {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  30% {
    transform: translateX(-30px);
    opacity: 1;
  }

  85% {
    transform: translateX(-30px);
    opacity: 1;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
    opacity: 0;
  }

  30% {
    backdrop-filter: blur(10px);
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    backdrop-filter: blur(0px);
    opacity: 0;
    z-index: -50;
  }
}

@keyframes expandmenu {
  0% {
    width: 70px;
  }

  100% {
    width: 120px;
  }
}

@keyframes appearslowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearslowlyandscale {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shine {
  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shinescale {
  50% {
    opacity: 0.7;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1.03);
  }
}

@keyframes float {
  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}
