@mixin laptop-design {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin tiny-laptop-design {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin tablet-design {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin mobile-design {
  @media screen and (max-width: 762px) {
    @content;
  }
}

@mixin small-height {
  @media screen and (max-height: 600px) {
    @content;
  }
}

@mixin medium-height {
  @media screen and (max-height: 950px) {
    @content;
  }
}

@mixin big-shadow {
  box-shadow: 0px 0px 9px $color1;
}

@mixin medium-shadow {
  box-shadow: 0px 0px 7px $color1;
}

@mixin tiny-shadow {
  box-shadow: 0px 0px 6px $color11;
}

@mixin menu-shadow {
  box-shadow: 0px 0px 4px $color11;
}

@mixin button-shadow {
  box-shadow: 0px 0px 5px $color11;
}

@mixin input-shadow {
  box-shadow: 0px 0px 5px $color1;
}

@mixin main-shadow {
  box-shadow: 0px 0px 20px $color11;
}
