$color1: #303030;
$color2: #242424;
$color3: #383838;
$color4: #535353;
$color5: #919191;
$color6: #d9d9d9;
$color7: #7daaf1;
$color8: #404040;
$color9: rgb(228, 77, 77);
$color10: rgb(244, 244, 244);
$color11: rgb(30, 30, 30);
