.caroussel {
  display: flex;
  max-width: 272px;
  max-height: 648px;
  overflow: hidden;
  margin-left: 2%;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  position: relative;
  background-color: transparent;
  @include big-shadow;
  border-radius: 20px 0px 0px 20px;

  // ::-webkit-scrollbar {
  //   display: none;
  // }

  & img {
  }

  &__left-arrow {
    position: absolute;
    z-index: 50;
    font-size: 4em;
    color: rgb(249, 249, 249);
    font-weight: bold;
    padding: 0px 10px;
    top: 40%;
    left: 270px;
  }

  &__right-arrow {
    position: absolute;
    z-index: 50;
    font-size: 4em;
    color: rgb(249, 249, 249);
    font-weight: bold;
    padding: 0px 10px;
    top: 40%;
    left: 218px;
  }

  @include tiny-laptop-design {
    & img {
      border-radius: 0px 20px 0px 20px;
    }
  }
  @include mobile-design {
    // margin-left: 0px;
    // margin-right: 0px;
    margin: 0px;
    width: 95%;
  }
}
