.card {
  flex-basis: 23%;
  height: 365px;
  background-color: $color3;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1px solid $color4;
  color: $color6;
  font-size: 1.2em;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  &__icon {
    position: absolute;
    right: 5%;
    top: 4.5%;
    font-size: 1.1em;
    background-color: $color4;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid $color5;
  }

  &__content {
    overflow-y: scroll;
  }

  & h3 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  & ul {
    margin-top: 10px;
    margin-bottom: 10px;
    // list-style: none;

    & li {
      line-height: 25px;
    }
  }

  &--utilities {
  }

  &--validation {
  }

  &--about {
    padding-bottom: 20px;
    font-size: 1em;
    text-align: justify;
    p {
      padding: 0px 10px;
      margin-top: 0px;
    }
    &__top {
      margin-top: 20px;
      & img {
        float: left;
        width: 50px;
      }
    }
  }

  @include laptop-design {
    flex-basis: 43%;
  }

  @include tablet-design {
    flex-basis: 90%;
  }
}
