.caroussel {
  display: flex;
  flex-basis: 29%;
  max-height: 650px;
  margin-left: 2%;

  position: relative;

  border-radius: 20px 0px 0px 20px;
  transition: all 300ms;

  & img {
    animation: appearslowly 400ms ease-in-out;
    width: 345px;
    height: 650px;
  }

  &--independant {
    margin: 2% auto;
    max-width: 1200px;
    width: 80%;

    & button:first-child {
      display: none;
    }
    @include mobile-design {
      margin: 10px;
      width: 95%;
    }
  }

  &__button-enlarge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $color7;
    z-index: 1002;
    border-radius: 100%;
    padding: 5px 7px;
    border: 1px solid $color5;
    background-color: $color3;
    transition: all 300ms;
    cursor: pointer;
  }

  &__maps {
    display: flex;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    position: relative;
    background-color: transparent;
    @include big-shadow;
    border-radius: 20px 0px 0px 20px;
    transition: all 300ms;
    background-color: #172e46;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include laptop-design {
  }

  @include tiny-laptop-design {
    & img {
      border-radius: 0px 20px 0px 20px;
    }
    &__button-enlarge {
      display: none;
    }
  }

  @include tablet-design {
    border-radius: 20px;
    flex-basis: 70%;
  }

  @include mobile-design {
    // margin: 0px;
    flex-basis: 95%;
  }

  @media screen and (max-width: 1335px) {
    &__button-enlarge {
      display: none;
    }
  }
}
