.caroussel-model {
  width: 200px;
  display: flex;
  // justify-content: center;
  position: relative;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  & img {
    min-width: 200px;
    width: 200px;
    height: 250px;
    object-fit: contain;
    animation: appearslowly 400ms ease-in-out;
  }
}
