.card {
  flex-basis: 23%;
  height: 365px;
  background-color: $color3;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1px solid $color4;
  color: $color6;
  font-size: 1.2em;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  &__icon {
    position: absolute;
    right: 5%;
    top: 4.5%;
    font-size: 1.1em;
    background-color: $color4;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid $color5;
  }

  &__content {
    overflow-y: scroll;

    &__cover {
      width: 97%;
      max-height: 150px;
      object-fit: cover;
      margin-top: 10px;
      margin-right: 10px;
    }

    &__thumbnail {
      float: left;
      width: 50px;
      margin-top: 20px;

      // & + p {
      //   padding-top: 0px;
      //   margin-top: 0px;
      // }
    }
    & p {
      padding-left: 10px;
      padding-right: 10px;
      text-align: justify;
      // font-size: 0.9em;
    }

    & h3 {
      font-size: 1em;
      margin-top: 15px;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    & ul {
      margin-top: 10px;
      margin-bottom: 10px;
      // list-style: none;

      & li {
        line-height: 25px;
        font-size: 0.9em;
      }
    }
  }

  @include laptop-design {
    flex-basis: 46%;
  }

  @include tablet-design {
    flex-basis: 95%;
    margin-bottom: 30px;
  }
}
