.custom-input {
  background-color: $color3;
  color: $color6;
  border: 1px solid $color4;
  font-size: 1.3em;
  padding: 5px;
  margin-right: 10px;
  padding-left: 10px;

  &:focus {
    // border: 32px solid black;
    outline: 1px solid $color7;
  }
}
