.custom-selector {
  background-color: $color3;
  color: $color6;
  border: 1px solid $color4;
  font-size: 1.3em;
  padding: 5px;
  @include input-shadow;

  @include tiny-laptop-design {
    max-width: 100px;
  }
}
