.element-information {
  flex-basis: 33%;
  margin-bottom: 20px;
  box-sizing: border-box;
  &__title {
    color: $color6;
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__bar {
    background-color: $color7;
    width: 45px;
    height: 3px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 5px;
  }

  &__content {
    overflow-y: scroll;
    max-height: 150px;
    // padding-top: 5px;
    padding-top: 0px;
    margin-top: 0px;
    // margin-bottom: 20px;

    & ul {
      padding-left: 20px;
      margin-top: 5px;
      & li {
        color: $color6;
        line-height: 25px;
        list-style: none;
      }
    }
  }

  &--independant {
    border-radius: 20px 0px 20px 0px;
    background-color: $color4;
    padding: 20px;
    padding-top: 0;
    flex-basis: 28%;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;

    & div:last-child {
      max-height: 260px;
    }

    & ul {
      padding-left: 10px;

      & li {
        margin: 0;
        color: $color6;
        line-height: 25px;
        list-style: none;
      }
    }

    @include laptop-design {
      margin-right: 1%;
      margin-left: 1%;
      flex-basis: 43%;
    }

    @include tiny-laptop-design {
      margin-right: 20px;
      margin-left: 20px;
      flex-basis: 90%;
      border-radius: 20px;
    }
  }
}
