.magnifier {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  opacity: 1;
  background-color: white;
  background-repeat: no-repeat;
  display: none;
  animation: appearslowlyandscale 200ms ease-out;
  transform: scale(1);
  // transition: all 200ms;
}
