.menu-bar-button {
  color: $color6;
  background-color: $color1;
  border: 0;
  width: 70%;
  margin: 0 auto;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  // padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  & i {
    font-size: 1.7em;
  }

  &:hover {
    opacity: 0.8;
    transition: all 300ms;

    & i {
      color: $color7;
    }

    & span {
      color: $color7;
    }
  }

  & svg {
    font-size: 2em;
  }

  & span {
    font-size: 1.3em;
  }
}
