.model-display {
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  min-height: 150px;
  margin-top: 50px;
  object-fit: contain;
  animation: appearslowly 400ms ease-in-out;

  @include tablet-design {
    margin-top: 20px;
  }

  @include mobile-design {
    width: 80%;
  }
}
