.page-title {
  color: $color6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 119px;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  border-bottom: 1px solid $color4;

  & div {
    display: flex;
    align-items: center;
  }

  &__goback {
    background-color: transparent;
    margin-right: 30px;
    border: 0px;
    cursor: pointer;
    color: $color7;
    font-size: 2.2em;

    &:hover {
      & svg {
        color: $color6;
      }
    }

    & svg {
      font-size: 3em;
    }
  }

  &__database {
    font-size: 1.5em;
  }

  &__angle {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__table {
    font-size: 1.3em;
  }

  &--search {
    padding-right: 20px;
  }

  @include tablet-design {
    &__table {
      font-size: 1.2em;
    }
  }
}
