.page-title {
  color: $color6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 119px;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  border-bottom: 1px solid $color4;

  & div {
    display: flex;
    align-items: center;
  }

  &__goback {
    background-color: transparent;
    margin-right: 30px;
    border: 0px;
    cursor: pointer;
    color: $color7;
    font-size: 2.2em;

    &:hover {
      & svg {
        color: $color6;
      }
    }

    & svg {
      font-size: 3em;
    }
  }

  &__database {
    font-size: 1.5em;
  }

  &__angle {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__table {
    font-size: 1.3em;
  }

  &--search {
    padding-right: 20px;
  }

  @include tablet-design {
    &__table {
      font-size: 1.2em;
    }
  }

  @include mobile-design {
    padding-left: 10px;
    padding-right: 10px;
    height: 69px;
    overflow-x: hidden;

    & h1 {
      font-size: 1.2em;
    }

    &__goback {
      margin-left: 0px;
      margin-right: 10px;
    }

    & div:last-child {
      display: none;
    }

    &--search {
      & div {
        display: block;
        // justify-content: unset;
      }

      & i {
        display: none;
      }

      & div:last-child {
        display: flex;
        width: 150px;
        & .search-bar__filters {
          display: flex;
        }
      }
    }

    // &__database {
    //   display: none;
    //   font-size: 0.8em;
    // }

    // &__angle {
    //   font-size: 0.9em;
    //   margin-left: 5px;
    //   margin-right: 5px;
    // }

    // &__table {
    //   font-size: 0.9em;
    // }
  }
}
