.search-button {
  width: 80px;
  color: $color6;
  background-color: $color3;
  border: 1px solid $color4;
  border-radius: 0px 20px 0px 0px;
  cursor: pointer;
  font-size: 1.5em;
  @include button-shadow;
  & i {
    color: $color6;
  }

  &:hover {
    opacity: 0.8;
    transition: all 300ms;

    & i {
      color: $color7;
    }

    & span {
      color: $color7;
    }
  }

  @include tablet-design {
    visibility: hidden;
    width: 0px;
  }

  @include mobile-design {
    visibility: hidden;
    width: 0px;
  }
}
