.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: right;
  &__main {
    display: flex;
    // flex-direction: column;
    // background-color: yellow;
    margin-bottom: 10px;
    margin-right: 8px;

    & input {
      width: 420px;
      margin-right: 0px;
      font-size: 1.1em;
    }

    & select {
      font-size: 1.1em;
    }
  }

  &__filters {
    width: 100%;
    margin-left: 0px;

    display: flex;
    justify-content: right;
    & input {
      margin-left: 10px;
      font-size: 0.9em;
    }

    & select {
      font-size: 0.9em;
    }
    // display: flex;
    // flex-direction: column;
    // background-color: green;
  }

  @include tablet-design {
    & label {
      font-size: 0.7em;
    }

    &__main {
      input {
        width: 170px;
        font-size: 1em;
      }

      & select {
        font-size: 1em;
      }
    }

    &__filters {
      margin-right: 12px;
      & input {
        width: 50px;
      }
    }
  }
}
