.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: relative;
  & #proximity-coord {
    margin-right: 0px;
  }

  & span {
    color: $color9;
    font-size: 0.8em;
    position: absolute;
    bottom: -17px;
    right: 10px;
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__main {
    display: flex;
    // flex-direction: column;
    // background-color: yellow;
    margin-bottom: 10px;
    margin-right: 8px;

    & label {
      margin-right: 5px;
    }

    & input {
      width: 420px;
      margin-right: 0px;
      font-size: 1.1em;
    }

    & select {
      font-size: 1.1em;
    }
  }

  &__filters {
    width: 100%;
    margin-left: 0px;

    display: flex;
    justify-content: right;
    & input {
      margin-left: 10px;
      font-size: 0.9em;
    }

    & select {
      font-size: 0.9em;
    }

    & label {
      margin-right: 5px;
    }
    // display: flex;
    // flex-direction: column;
    // background-color: green;
  }

  @include laptop-design {
    &__main {
      input {
        width: 300px;
      }

      & select {
        font-size: 1em;
      }
    }
  }

  @include tablet-design {
    & label {
      font-size: 0.7em;
    }

    &__main {
      input {
        font-size: 1em;
        width: 180px;
      }

      & select {
        font-size: 1em;
        width: 80px;
      }
    }

    &__filters {
      margin-right: 12px;
      & input {
        width: 50px;
      }
    }
  }

  @include small-tablet-design {
    display: block;
    & label {
      font-size: 0.7em;
    }
    &__main {
      input {
        max-width: 180px;
        font-size: 1em;
        position: absolute;
        right: 6%;
        top: 30%;
        z-index: 50;
      }

      & label {
        display: none;
      }

      & select {
        visibility: hidden;
        width: 0px;
        height: 0px;
      }
    }

    &__filters {
      visibility: hidden;
      width: 0px;
    }
  }

  @include mobile-design {
    position: unset;
    &__main {
      position: absolute;
      right: 0%;
    }

    input {
      top: -50%;
      max-width: 150px;
      font-size: 1em;
      height: 35px;
      // left: -1%;
      right: 0px;
    }

    & span {
      display: none;
    }
  }
}
