// Reused CSS from old UI

.simulate_box {
  color: $color6;
  margin: 0 auto;
  max-width: 30em;
  background-color: $color1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 40em;
  border: 1px solid $color11;
  border-radius: 10px;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 60px $color1;

  & a {
    color: $color7;
  }

  @include tablet-design {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Extra stuff for simulated quests */

.quest {
  //   background-color: $color2;
  //   color: $color6;
}

.page_text {
  padding-top: 20px;
  font-family: serif;
  font-size: larger;
  //   max-width: 800px;
}

.read_page a {
  color: lightgreen;
}

/* Extra stuff for simulated items */

.item {
}

/* Extra stuff for simulated spells */

.spell {
  max-width: 30em;
}

/* Extra stuff for simulated game objects */

.gameobject {
}

/* For left and right-justifying things inside a simulated box */

.item_rh {
  float: right;
  margin-left: 2em;
}

.item_lh {
  float: left;
}

.links_at_top {
  font-size: smaller;
  margin-top: 6px;
}

@include laptop-design {
  .page_text {
    max-width: 450px;
  }
}
