.table-fields {
  border: 1px solid $color3;
  background-color: $color1;
  color: $color6;
  margin-bottom: 20px;
  @include big-shadow;

  & th {
    padding: 5px 10px 5px 10px;
    // width: 150px;
    text-align: left;
    background-color: $color1;
  }

  & td {
    padding: 5px 10px 5px 10px;
  }

  & tr:nth-child(odd) {
    background-color: $color4;
  }
  & tr:nth-child(even) {
    background-color: $color8;
  }

  @media screen and (max-width: 370px) {
    table-layout: fixed;

    & tr {
      width: 10px; /* some width */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:nth-child(3) {
        display: none;
      }
    }

    & td {
      width: 50px; /* some width */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
