.table-rows {
  border: 1px solid $color3;
  background-color: $color1;
  color: $color6;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  @include big-shadow;

  & th {
    padding: 5px 10px 5px 10px;
    text-align: left;
    background-color: $color1;
  }
  & td {
    padding: 5px 20px 5px 20px;
    text-align: left;
  }

  & tr:nth-child(odd) {
    background-color: $color4;
  }
  & tr:nth-child(even) {
    background-color: $color8;
  }
}
