.table-rows {
  border: 1px solid $color3;
  background-color: $color1;
  color: $color6;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;

  @include big-shadow;

  & th {
    padding: 5px 10px 5px 10px;
    text-align: left;
    background-color: $color1;
  }
  & td {
    padding: 5px 20px 5px 20px;
    text-align: left;
    width: 10px; /* some width */
  }

  & tr:nth-child(odd) {
    background-color: $color4;
  }
  & tr:nth-child(even) {
    background-color: $color8;
  }

  @include tablet-design {
    table-layout: fixed;

    & td {
      width: 10px; /* some width */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:nth-child(8) {
        display: none;
      }

      &:nth-child(7) {
        display: none;
      }

      &:nth-child(6) {
        display: none;
      }
      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }

    & thead {
      &:nth-child(8) {
        display: none;
      }

      &:nth-child(7) {
        display: none;
      }

      & th:nth-child(6) {
        display: none;
      }
      & th:nth-child(5) {
        display: none;
      }

      & th:nth-child(4) {
        display: none;
      }
    }
  }

  @include mobile-design {
    table-layout: fixed;

    & td {
      width: 10px; /* some width */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:nth-child(3) {
        display: none;
      }
    }

    & thead {
      & th:nth-child(3) {
        display: none;
      }
    }
  }
}
