.toaster {
  width: 250px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  max-height: 500px;
  max-width: 600px;
  background-color: $color3;
  color: $color6;
  border: 1px solid $color4;
  border-radius: 20px;
  z-index: 1000;
  padding: 20px;
  @include big-shadow;
  animation: slideinout 6s ease-in-out;
  animation-fill-mode: forwards;

  &__header {
    font-size: 1em;
    border-bottom: 1px solid $color4;
    margin: 0;
    padding: 10px;
    padding-left: 0px;
    padding-top: 0px;
  }

  &__body {
    font-size: 0.8em;
    margin-bottom: 0px;
  }

  & i {
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 1em;
    padding: 8px;
    border-radius: 10px;
    background-color: $color4;
  }
}
