body {
     font-family:sans-serif;
     background-color:whitesmoke;
    }


.error_message {
  color:red;
}

.warning_message {
  color:brown;
  border:3px solid red;
  width: fit-content;
  padding: 8px;
  background-color:mistyrose;

}

.info_message {
  color:cyan;
}

.banner {
  color:brown;
  font-size:24px;
  width: fit-content;
  font-weight:bold;
  text-shadow: -1px -1px yellow, 1px -1px yellow, -1px 1px yellow, 1px 1px yellow;
}

.banner a {
  text-decoration: none;
  color:brown;
}

table {
  border:2px solid black;

  }

table td + td { border-left:1px solid black; }

td {
  padding: 5px;
  max-width: 40em;
  }

tr:nth-child(even)
  {
  background-color: initial;
  }

tr:nth-child(odd)
  {
  background-color: #d2d2d2;
  }

.tdl {
  text-align: left;
  }

.tdr {
  text-align: right;
  }

.one_item {
  color:white;
  background-color:green;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  }

.menu_item {
  display:inline-block;
  background-color: darkgreen;
  font-size: 20px;
  padding:10px;
  width: fit-content;
  border-radius: 5px;
  margin:5px;

  }

.menu_item a {
  text-decoration: none;
  color: white;
}

 .menu_item a:hover {
    color:lightblue;
  }

.quest {
  background-color: lightyellow;
  border:4px solid black;
  border-radius: 10px;
  padding: 10px;
  max-width: 40em;
	box-shadow: 3px 3px 5px gray;
}

.item {
  color:white;
  background-color: #222222;
  border:2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 40em;
	box-shadow: 3px 3px 5px gray;
}

.item a {
  color:deepskyblue;
  }

.item_rh
  {
  float:right;
  margin-left:2em;
  }

.item_lh
  {
  float:left;
  }


.spell {
  color:white;
  background-color: #222222;
  border:2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 30em;
	box-shadow: 3px 3px 5px gray;
}

.spell a {
  color:deepskyblue;
  }

.links_at_top {
  font-size: smaller;
  margin-top: 6px;
}

.links_at_top a {
  text-decoration: none;
  color: white;
  padding:3px;
  font-size: small;
  background-color: darkgreen;
  border: 1px;
  border-radius: 2px;
  font-weight:bold;
  border:1px solid grey;
  margin-bottom: 1em;
}

.links_at_top a:hover {
    color:lightblue;
  }

.search_results {
  margin-top:5px;
  margin-left:10px;
  border:3px solid black;
	box-shadow: 3px 3px 5px gray;

  }

.one_row {
  margin-top:5px;
  margin-left:10px;
  border:3px solid black;
	box-shadow: 3px 3px 5px gray;
  max-width: 40em;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin-top:5px;
  margin-left:10px;
  }

.spawn_point
  {
  position:absolute;
  }

.one_thing_container
  {
  display:flex;
  flex-wrap: wrap;
  }

.one_thing_section
  {
  display: inline-block;
  margin: 10px;
  }

.credits {
  font-size:smaller;
  border:1px solid black;
  border-radius: 6px;
  background-color: cornsilk;
  padding: 1em;
  width: fit-content;
  margin-top:1em;
	box-shadow: 3px 3px 3px gray;

}

.arrow {
  width:20px;
  vertical-align: text-top;
}

.navigation {
  display: inline-block;
  margin-left: 1em;
  }

.one_thing_section img
  {
  max-height: 350px;
  max-width: 350px;
  }

.item_list
  {
  border:1px solid black;
  border-radius: 6px;
	box-shadow: 3px 3px 3px gray;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left:1em;
  padding-right:1em;
  width: fit-content;
  }

.item_list h2
 {
  text-align:center;
  border-bottom: 5px solid lightgrey;
  padding-bottom: 5px;
  }

