<?php
define ('DBSERVER',     'localhost');
define ('DBUSER',       'USERNAME');
define ('DBPASSWORD',   'PASSWORD');
define ('DBC_DBNAME',   'alpha_dbc');
define ('WORLD_DBNAME', 'alpha_world');

// where this code is relative to the server document root
define ('EXECUTIONDIR', '/alpha');

// make this true if you are using MySQL database server which
//  forces table names to lower-case
define ('LOWER_CASE_SQL_TABLES', true);
?>
